.about {
  margin-top: 5em;
  position: relative;
}

.about h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.about h3 {
  font-size: 24px;
  color: #4c70ef;
  font-weight: 500;
  margin-top: 1em;
  text-transform: uppercase;
}

.control-about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.about .images img {
  position: relative;
  top: 0;
  left: 0;
  width: 525px;
  height: 380px;
  border-radius: 24px 0 24px 0;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}

.about .images img:hover {
  top: 1.65em;
  left: 1.65em;
}

.about .images-border {
  border: 2px solid white;
  width: 525px;
  height: 380px;
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  border-radius: 24px 0 24px 0;
}

.about .content {
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75em;
}

@media (max-width: 768px) {
  .about .images img {
    width: 22em;
    height: 30em;
  }

  .about .images img:hover {
    top: 0;
    left: 0;
  }

  .about .images-border {
    width: 22em;
    height: 30em;
    top: 1em;
    left: 1em;
  }
}

@media (max-width: 425px) {
  .about .images {
    display: flex;
    justify-content: center;
  }

  .about .images img {
    width: 100%;
    height: 15em;
    margin-bottom: 2em;
  }

  .about .images img:hover {
    top: 0;
    left: 0;
  }

  .about .images-border {
    width: 100%;
    height: 15em;
    top: 1em;
    left: 1em;
  }

  .about h2 {
    font-size: 26px;
  }

  .about h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .about .content {
    margin-left: 0;
  }
}
