.portfolio {
  margin-top: 8em;
}

.portfolio .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1100px;
}

.portfolio .images {
  max-width: 280px;
  max-height: 183px;
  overflow: hidden;
}

.portfolio .images img {
  width: 280px;
  height: 283px;
  object-fit: cover;
  object-position: left;
}

.portfolio .content .content-images {
  padding: 0.75em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25em;
}

.content-images .name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.content-images .btn {
  background: #558fff;
  padding: 0.65em 1em;
  border-radius: 6px;
}

.content-images a.btn {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 425px) {
  .portfolio .images {
    max-width: 100%;
    max-height: 220px;
  }
}
