.portfolio {
  margin-top: 8em;
}

.portfolio .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 1100px;
}

.portfolio .images {
  max-width: 280px;
  max-height: 183px;
  overflow: hidden;
}

.portfolio .images img {
  width: 280px;
  height: 283px;
  object-fit: cover;
  object-position: left;
}

.portfolio .content .content-images {
  padding: 0.75em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25em;
}

.content-images .name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.content-images span {
  color: #b0adad;
  font-size: 14px;
  margin-bottom: 1em;
  margin-top: 0.25em;
  max-width: 250px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
  transition: all 0.3s ease-in;
}

.content-images span:hover {
  display: -webkit-box;
  -webkit-line-clamp: 25;
  -webkit-box-orient: vertical;
  max-height: 20em;
}

.content-images .btn {
  background: #558fff;
  padding: 0.65em 1em;
  border-radius: 6px;
}

.content-images a.btn {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.content-images .program-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  gap: 0.25em;
}

@media (max-width: 425px) {
  .portfolio .images {
    max-width: 100%;
    max-height: 220px;
  }
}
