h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: unset;
  margin-block-end: unset;
}

p {
  color: #b0adad;
}

h1 {
  font-size: 64px;
}

h4 {
  font-size: 24px;
}

section {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  section {
    max-width: 685px;
  }
}

@media (max-width: 425px) {
  section {
    max-width: 360px;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 2em;
  right: 3em;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #4c70ef;
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}

.scroll-to-top img {
  width: 30px;
  height: 30px;
  transform: rotate(-90deg);
}

@media (max-width: 425px) {
  .scroll-to-top {
    right: 1em;
    width: 26px;
    height: 26px;
  }
}
